<!DOCTYPE html5>
<html>
    <head>
        <title>Xbox Live Username Generator</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="center padded">Xbox Live Username Generator</h1>
                <form method="POST">
                    <input placeholder="Username to test..." type="text"
                    name="username" id="username"/>
                    <input style="display:none;" type="submit"/>
                </form>
            </div>
        </div>
    </body>
</html>
